[Unit]
Description=Setup Service to handle Container setup
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup.sh
Restart=on-failure
RestartSec=10

# Security and hardening options
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/data

[Install]
WantedBy=multi-user.target
